<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/stylesheet.css">
    <title>Arp & Texture Generator</title>
</head>
<body>
  <h1>Arp & Texture Generator</h1>
    <h6>by Joshua Landry</h6>
    <div>
        <p>Waveform Display</p>
    </div>
    <h3>Settings</h3>
        <p class="blue"> Vol: <input class="volume" type="range" value="0.035" min="0.0" max="0.05" step="0.005" onchange="volumechange()" oninput="volumechange()">
        </p>
        <button class="mouseTrackButton">Mouse Tracking</button>
        <button class="pitchTrackButton">Pitch Tracking</button> <br>
        <button class="mute" data-muted="false">Mute Osc 1 & 2</button>
        <button class="pwmStop">Mute Osc 3 & 4</button> <br> <br>

        <button class="pwmStart">Start PWM Oscillator (3 & 4)</button> <br>
   
        <p class="blue"> 
            <input id="dutycycle" type="range" value="0.5" min="0.0" max="1.0" step="0.01" onchange="dutycyclechange()" oninput="dutycyclechange()">
            PWM Duty Cycle
        </p>

        <p class="blue">
            <input class="pwmfilter" type="range" value="5000" min="0" max="15000" step="100" onchange="pwmfilterchange()" oninput="pwmfilterchange()">
            PWN Filter Cutoff
        </p>

        <button class="reset">Reset Synthesizer</button> <br>
        

    <h3>Tempo</h3>
        
        <input class="userTempo"></input>
        <button class="tempoSubmit">Set Tempo</button><br>

        <button class="threehundred">100 BPM</button>
        <button class="twohundred">150 BPM</button> <br>
        <button class="tempoSlide">Slow gradually to a crawl</button> 
        <button class="tempoSlideUp">Accelerate to obliteration</button> <br>

    <h3>Basic Effects</h3>
        <button class="gridlockedButton" data-locked="true">Unlock Grid</button> 
        <button class="randomizeSequence" data-random="false">Randomize Sequence</button> <br>
        <button class="filterSweep">Filtered Tone</button>
        <button class="randomizeWaveform">Randomize Waveform</button> <br>

    <h3>Pitch Twisters</h3>
        <button class="lowerPitch">Spiral Down</button>
        <button class="raisePitch">Spiral Up</button>
        <button class="twistUpPitch">Twist Left</button>
        <button class="twistDownPitch">Twist Right</button> <br>
        <button class="twoHundredMsVariance">200ms Variance</button>
        <button class="rapidVariance">Rapid Variance</button>
        <button class="randomVariance">Random Variance</button>
        <button class="minuteVariance">Sputter Out</button> <br>

    <h3>Fixed Sequences (you can change the tempo, but not the notes)</h3>
        <button class="tonalVarianceBass">Bedroom IDM</button>
        <button class="acidSequential">Sequential Arp</button> <br>

    <h3>Mouse Controlled Sequences (these sequences are performed by moving the mouse)</h3>
        <button class="psyBass">Acid Bass Arp</button>
        <button class="acidSequence">Acid Bass Arp 2</button> <br>

    <h3>Scales</h3>
        <button class="cMajorScale">C Major</button> <br>
        <button class="lydianMode">Lydian Mode</button>
        <button class="locrianMode">Locrian Mode</button> <br>
        <button class="wholeToneScale">Whole Tone Scale</button> <br>

    <h3>Arp your own chord</h3>
        <button class="playUserArp">Play Your Arp</button> <br>
        <input class="userNoteA"></input> <br>
        <input class="userNoteB"></input> <br>
        <input class="userNoteC"></input> <br>
        <input class="userNoteD"></input> <br>
        <input class="userNoteE"></input> <br>
        <button class="submitNotes">Submit Your Notes</button> <br>

    <script src="js/toneDictionary.js"></script>
    <script src="js/components/oscilloscope.js"></script>
    <script src="js/audioApp.js"></script>
    <script src="./js/mouseTrack.js"></script>
    <script src="./js/functions/basicEffectsSettings.js"></script>
    <script src="./js/functions/pitchWavering.js"></script>
    <script src="./js/functions/fixedSequences.js"></script>
    <script src="./js/functions/mouseSequences.js"></script>
    <script src="./js/functions/scalarSequences.js"></script>
    <script src="./js/functions/userArps.js"></script>
    <script src="./js/functions/buttonClicks.js"></script>
</body>
</html>