body {
  background-image: url("./img/background.jpg");
  background-color: black;
  background-size: cover;
}

h1, h6 {
  color: rgb(94,215,133);
  text-align: center;
}

p {
  color: rgb(94,215,133);
}

.blue {
  color: rgb(0,181,236);
}

h3 {
  color: rgb(0,181,236);
}

button {
  padding: .2em;
  border: none;
  outline: none;
}

button:hover { 
  transform: scale(1.1);
}

div {
  text-align: center;
}